
/* css autocompletar */
.sugerencia{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(228, 249, 255);
    position: absolute;
    z-index: 1;
    display: none;
}

.sugerencia > ul {
    width: 100%;
    padding: 3px;
    margin: 0;
}

.sugerencia > ul > li {
    padding: 3px 5px;
    list-style: none;
}

.sugerencia > ul > li:hover{
    background-color: rgb(104, 232, 255);
}
/* fin css autocompletar*/

/* css bordes */

.borde{
    border: 1px solid #eee;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 20px;
    padding-bottom: 10px;
   
}

.borde-redondo{
    border-radius: 5px;
    font-size: 12px;
}

.borde-titulo{
  margin-top: -8px;
  margin-left: 10px;
}
.borde-titulo span{
    background-color: white;
    padding: 3px;
    font-weight: bold;
}


/* CSS tablas */
#tabla {
    font-size: 12px;
}

